---
import MainLayout from "../layouts/Layout.astro";

const mainColorStyles = "text-gray-900";
const secondaryColorStyles = "text-gray-400";
const headingStyles = "text-xl leading-none";
const paragraphStyles = "text-base leading-7";
const linkStyles = `${paragraphStyles} ${mainColorStyles} underline`;
---

<MainLayout title="hhai.dev home">
  <div class="flex flex-col items-center w-full py-16">
    <div class="flex flex-row gap-14">
      <div class="flex flex-col max-w-[295px]">
        <p class={`${headingStyles} ${mainColorStyles} font-medium`}>
          Ha Huy Long Hai
        </p>
        <p class={`${headingStyles} ${secondaryColorStyles} mt-1`}>
          Software Engineer
        </p>
        <p class={`${headingStyles} ${mainColorStyles} mt-6 leading-snug`}>
          I'm building the missing products that people need.
        </p>
        <p class={`${paragraphStyles} ${secondaryColorStyles} mt-4`}>
          I design everything from software system to the user interface. I code
          religiously, take photos and practice witchcraft. I love open-source.
        </p>
        <div class="flex flex-row gap-6 mt-4">
          <a href="/blog" class={linkStyles}>Blog</a>
          {
            /* <a href="/photographs" class={linkStyles} prefetch={false} >
          Photographs
        </a> */
          }
        </div>
        <p class={`${paragraphStyles} ${secondaryColorStyles} mt-4`}>
          &#119;&#111;&#114;&#107;&#064;&#104;&#104;&#097;&#105;&#046;&#100;&#101;&#118;
        </p>
      </div>
      <div class="flex flex-col max-w-[420px] gap-6">
        <p class={`${headingStyles} ${mainColorStyles} font-medium`}>
          Projects
        </p>
        <div class="flex flex-col gap-2">
          <p class={`${paragraphStyles} ${mainColorStyles}`}>
            2021 — Vietnamese sentiment analysis
          </p>
          <p class={`${paragraphStyles} ${secondaryColorStyles}`}>
            During my graduation thesis, I created a BERT-based model that tries
            to predict the sentiment of Vietnamese texts.{" "}
            <a
              href="https://huggingface.co/wonrax/phobert-base-vietnamese-sentiment"
              target="_blank"
              class={linkStyles}
            >
              Published on Hugging Face
            </a>{" "}
             and has over 200,000 downloads.{" "}
            <a
              href="https://github.com/wonrax/phobert-base-vietnamese-sentiment"
              target="_blank"
              class={linkStyles}
            >
              GitHub
            </a>
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <p class={`${paragraphStyles} ${mainColorStyles}`}>
            2021 — Mybk Mobile Android app
          </p>
          <p class={`${paragraphStyles} ${secondaryColorStyles}`}>
            This is the app that I feel missing while attending college. Mybk
            Mobile helps you find your class schedules and other information
            quickly, even without the internet so you don't miss your exam day.
            The app is{" "}
            <a
              href="https://play.google.com/store/apps/details?id=com.wonrax.mybk"
              target="_blank"
              class={linkStyles}
            >
              published on the Google Play Store
            </a>{" "}
             and has 1,500 monthly active users.{" "}
            <a
              href="https://github.com/wonrax/mybk-mobile"
              target="_blank"
              class={linkStyles}
            >
              GitHub
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
