---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import PostCard from "../../components/PostCard";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.published.valueOf() - a.data.published.valueOf()
);
---

<Layout title="hhai.dev/blog" description="my writings">
  <main class="min-h-[100vh] bg-gray-50 py-8 px-4">
    <div class="w-full max-w-[950px] mx-auto flex flex-col gap-8">
      <div class="flex flex-row gap-2">
        <a href="/" class="text-2xl font-bold w-fit logo">hhai.dev</a>
        <h3 class="text-2xl font-medium">/</h3>
        <a href="/blog" class="text-2xl font-medium">blog</a>
      </div>
      <section class="w-full mx-auto flex flex-col">
        {
          posts.map((post) => (
            <PostCard
              title={post.data.title}
              description={post.data.description}
              mainCategory="Tech"
              date={post.data.published}
              url={`/blog/${post.slug}`}
              image={post.data.heroImage}
            />
          ))
        }
      </section>
    </div>
  </main>
</Layout>

<style>
  .logo {
    background: linear-gradient(90deg, #49bfb8 0%, #2fbfed 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
</style>
