---
import { Comments, Sheet, Trigger } from "@/components/BlogCommentsSolid";
import OgImage from "@/components/OgImage/OgImage.astro";
import "@fontsource/inconsolata/500.css";
import "katex/dist/katex.css";
import TableOfContents from "../components/TableOfContents.astro";
import BlogRouteLayout from "./BlogRouteLayout.astro";

export type Frontmatter = {
  title: string;
  description: string;
  published: string;
  updated: string;
  tags: string[];
  isDraft?: boolean;
  hidden?: boolean;
  ogImageUrl?: string;
};

export type Heading = {
  text: string;
  slug: string;
  depth: number;
};

type Props = {
  frontmatter: Frontmatter;
  headings: Heading[];
};

const postSlug = Astro.url.pathname.split("/").pop();

const post = Astro.props.frontmatter;
const headings = Astro.props.headings;

const ogImageUrl = post.ogImageUrl || Astro.url.pathname + "og-image.png";
---

<BlogRouteLayout>
  <title slot="head">{post.title}</title>
  <meta slot="head" name="description" content={post.description} />
  <OgImage slot="head" ogImageUrl={ogImageUrl} />
  <main class="blog-post-main">
    <div class="right-sidebar">
      <div class="right-sidebar-content">
        {
          headings.length ? (
            <>
              <TableOfContents headings={headings} />
              <Trigger client:load>View discussion</Trigger>
              <button id="go-to-top">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="21"
                  height="21"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-chevron-up"
                >
                  <path d="m18 15-6-6-6 6" />
                </svg>
                Go to top
              </button>
            </>
          ) : null
        }
        <!-- <div class="mt-6">
          <ScrollToTopButton />
        </div> -->
      </div>
    </div>
    <article class="article">
      <div class="post-header">
        <h1>
          {post.title}
        </h1>
        <div class="separator">
          <span class="article-date">
            {
              new Date(post.published).toLocaleDateString("en-UK", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }
          </span>
          <span class="separator-line"></span>
          {
            post.tags &&
              post.tags.map((tag) => <span class="post-tag">#{tag}</span>)
          }
        </div>
      </div>
      <div class="article-body">
        {
          post.isDraft ? (
            <div class="feature-aside">
              <aside class="callout callout-warning">
                <div class="callout-title">Draft</div>
                <div class="callout-content">
                  <p>
                    This post is a draft and is not yet ready for public
                    viewing.
                  </p>
                </div>
              </aside>
            </div>
          ) : null
        }
        <slot />
      </div>
    </article>
  </main>
  <Sheet client:load>
    <Trigger class="close-button" client:load>X</Trigger>
    {postSlug && <Comments client:load slug={postSlug} />}
  </Sheet>
</BlogRouteLayout>

<style lang="scss" is:global>
  :root {
    --bg-aside: var(--bg-additive-light);
    --bg-code-block: var(--white-2);
    --bg-code-inline: var(--bg-additive-light);
    --bg-code-block-elevated-active: var(--white-1);
    --bg-code-block-elevated-hover: var(--white-3);
    --bg-code-block-highlighted-line: var(--bg-additive-light);
    --code-block-accent: var(--grey-5);
    --text-code-block-line-number: var(--grey-2);

    @media (prefers-color-scheme: dark) {
      --bg-aside: var(--bg-additive-light);
      --bg-code-block: var(--bg-additive-light);
      --bg-code-inline: var(--bg-additive-light);
      --bg-code-block-elevated-active: var(--bg-additive-medium);
      --bg-code-block-elevated-hover: var(--bg-additive-light);
      --bg-code-block-highlighted-line: var(--bg-additive-light);
      --code-block-accent: var(--grey-1);
      --text-code-block-line-number: var(--grey-4);
    }
  }

  .blog-post-main {
    display: flex;
    flex-direction: row;
    gap: 64px;
    max-width: 100%;
    justify-content: center;
  }

  .right-sidebar {
    display: none;

    @media (min-width: 1280px) {
      display: block;
      order: 2;
      align-self: stretch;
    }

    .right-sidebar-content {
      position: sticky;
      top: 24px;
      overflow-y: auto;
      max-height: 90vh;

      @media (min-width: 1280px) {
        width: 240px;
      }
    }
  }

  .article {
    font-size: 16px;
    width: 100%;

    @media (min-width: 1280px) {
      max-width: 800px;
    }

    .post-tag {
      display: inline-block;
      // padding: 4px 8px;
      border-radius: 6px;
      margin-left: 8px;
      // background-color: #f4f4f4;
      font-size: 14px;
      font-weight: var(--font-weight-medium);
      color: var(--text-body-medium);
      // margin: 0 4px 4px 0;
    }

    .article-date {
      font-size: 14px;
      font-weight: var(--font-weight-medium);
      color: var(--text-body-medium);
      white-space: nowrap;
      margin-right: 8px;
    }

    figure {
      margin: 32px 0;
    }
  }

  .article .post-header {
    max-width: 700px;
    margin: 0 auto;
    box-sizing: border-box;

    h1 {
      font-size: 28px;
      font-weight: var(--font-weight-medium);
      margin: 16px 0;
      color: var(--text-heading);
      letter-spacing: -0.02em;
    }

    .separator {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 16px;

      .separator-line {
        height: 1px;
        background-color: var(--text-body-medium);
        width: 12px;
        display: inline-block;
      }
    }

    @media (max-width: 800px) {
      padding: 0 32px;
    }
  }

  .article .article-body {
    li {
      color: var(--text-body-heavy);
      margin: 8px 0;
      line-height: 1.65em;
      letter-spacing: -0.02em;
      font-weight: var(--font-weight-normal);

      p {
        margin: 0;
      }
    }
  }

  .article .article-body {
    // padding-left: 16px;
    // padding-right: 16px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    word-wrap: break-word;
    // margin-bottom: 64px;
    margin-top: 32px;

    & > * {
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: 1024px) {
      padding-left: 0;
      padding-right: 0;
    }

    .reading-line-width {
      max-width: 100%;
      width: 700px;
      box-sizing: border-box;

      @media (max-width: 800px) {
        padding: 0 32px;
      }
    }

    .feature {
      img {
        width: 100%;
      }
    }

    /* <!-- TODO move to using tailwind or smth, add toggle for line numbers --> */
    .feature-sm {
      width: 100%;
      max-width: 800px;
      box-sizing: border-box;

      @media (max-width: 1280px) {
        padding: 0 16px;
      }
    }

    .image-caption {
      margin: 12px;
      font-weight: var(--font-weight-medium);
      color: var(--text-body-medium);
      font-size: 14px;

      code {
        font-size: 14px;
      }
    }

    .icon.icon-link {
      opacity: 0;
    }

    h1:hover .icon.icon-link,
    h2:hover .icon.icon-link,
    h3:hover .icon.icon-link,
    h4:hover .icon.icon-link,
    h5:hover .icon.icon-link,
    h6:hover .icon.icon-link {
      opacity: 1;
    }

    h1[id],
    h2[id],
    h3[id],
    h4[id],
    h5[id],
    h6[id] {
      scroll-margin-top: 24px;
    }

    .icon.icon-link::after {
      content: "#";
      margin-left: 4px;
    }

    .feature-lg {
      z-index: 10;
      position: relative;
      max-width: 1104px;
      width: 1104px;
      box-sizing: border-box;

      @media (max-width: 1280px) {
        padding: 0 8px;
        max-width: 100%;
      }
    }

    .feature-code {
      width: 100%;
      max-width: 800px;
      box-sizing: border-box;
      margin: 32px auto;

      @media (max-width: 1280px) {
        padding: 0 16px;
      }
    }

    .feature-table {
      width: fit-content;
      max-width: 100%;
      margin: 32px auto;
      border-radius: 12px;
      overflow-y: auto;
    }

    table {
      font-size: 15px;
      border-collapse: collapse;
      border-spacing: 0;

      tbody {
        color: var(--text-body-medium);
      }

      td {
        white-space: break-spaces;
        overflow-wrap: break-word;
        padding: 8px 16px;
        border-top: 1px solid var(--bg-additive-medium);
        font-weight: var(--font-weight-normal);
      }

      th {
        padding: 8px 16px;
        font-weight: var(--font-weight-medium);
        color: var(--text-body-heavy);
      }
    }

    p {
      margin: 16px 0;
      line-height: 1.65em;
      color: var(--text-body-heavy);
      letter-spacing: -0.01em;
      font-weight: var(--font-weight-normal);
    }

    ul {
      color: var(--text-body-heavy);
    }

    h1 {
      // font-family: IBM Plex Serif;
      font-size: 32px;
      font-weight: var(--font-weight-medium);
      // font-style: italic;
      margin: 32px 0 16px 0;
      line-height: 1.35em;
      letter-spacing: -0.02em;
      color: var(--text-heading);
    }

    h2 {
      // font-family: IBM Plex Serif;
      font-size: 24px;
      font-weight: var(--font-weight-medium);
      // font-style: italic;
      margin: 48px 0 24px 0;
      line-height: 1.35em;
      letter-spacing: -0.02em;
      color: var(--text-heading);
    }

    h3 {
      font-size: 20px;
      font-weight: var(--font-weight-medium);
      margin: 32px 0 16px 0;
      line-height: 1.35em;
      letter-spacing: -0.02em;
      color: var(--text-heading);
    }

    a {
      text-decoration: underline;
      color: var(--text-body-link);
      &:visited {
        color: var(--text-body-link-visited);
      }
    }

    .feature-aside {
      margin: 32px auto;

      @media (max-width: 1280px) {
        padding: 0 16px;
      }

      aside {
        background-color: var(--bg-aside);
        padding: 24px;
        border-radius: 12px;
        width: 100%;
        max-width: 748px;
        box-sizing: border-box;
        margin: 0 auto;

        p {
          font-size: 15px;
          color: var(--text-body-light);
          margin-top: 16px;
          margin-bottom: 0;

          &:nth-child(1) {
            margin-top: 0;
          }
        }

        code {
          font-size: 14px;
        }
      }
    }

    aside.callout {
      .callout-title {
        font-size: 13px;
        font-weight: var(--font-weight-medium);
        text-transform: uppercase;
      }

      .callout-content {
        margin-top: 8px;
      }

      p {
        font-size: 16px;
      }
    }

    .callout.callout-note {
      background-color: var(--info-light);

      .callout-title {
        color: var(--info-medium);
      }

      p {
        color: var(--info-heavy);
      }

      a {
        color: var(--info-heavy);
        &:visited {
          color: var(--info-medium);
        }
      }
    }

    .callout.callout-warning {
      background-color: var(--warning-light);

      .callout-title {
        color: var(--warning-medium);
      }

      p {
        color: var(--warning-heavy);
      }

      a {
        color: var(--warning-heavy);
        &:visited {
          color: var(--warning-medium);
        }
      }
    }

    img {
      display: block;
      height: auto;
      border-radius: 12px;
      margin: 0 auto;
    }
  }

  // Code block stylying
  .article .article-body figure[data-rehype-pretty-code-figure] {
    margin-top: 24px;
    border-radius: 12px;
    background-color: var(--bg-code-block);
    overflow: hidden;
    border: solid 1px var(--bg-additive-light);
    box-shadow: 0 4px 4px 0px rgba($color: black, $alpha: 0.025);

    pre {
      overflow-x: auto;
      line-height: 1.4em;
      margin: 0;
      padding: 16px 0;
    }

    code {
      font-size: 16px;
      display: grid;
      counter-reset: line;
      margin: 0;
      padding: 0;
      background-color: transparent;
      width: 100%;

      & > .code-block-line {
        /* make up for the highlighted leftmost border width */
        border-left: solid 2px transparent;

        padding-top: 0;
        padding-right: 8px;
        padding-bottom: 0;
        padding-left: 0;

        [data-highlighted-chars] {
          background-color: var(--bg-code-block-highlighted-line);
          padding: 2px 4px;
          margin: 0 -4px;
          border-radius: 6px;
        }
      }

      & > .code-block-line.highlighted {
        background-color: var(--bg-code-block-highlighted-line);
        border-left: solid 2px var(--code-block-accent);
      }

      &[data-line-numbers-max-digits="2"] > .code-block-line::before {
        width: 2rem;
      }

      &[data-line-numbers-max-digits="3"] > .code-block-line::before {
        width: 3rem;
      }

      &[data-line-numbers] > .code-block-line::before {
        counter-increment: line;
        content: counter(line);

        display: inline-block;
        width: 1rem;
        margin-left: 16px;
        margin-right: 24px;
        color: var(--text-code-block-line-number);
        text-align: right;
      }

      &:not([data-line-numbers]) > .code-block-line {
        padding-left: 16px;
      }
    }

    .code-block-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 16px;
      height: 30px;
      width: fit-content;
      background-color: var(--bg-code-block-elevated-active);
      color: var(--text-body-heavy);
      box-shadow: 0 1px 3px 0px rgba($color: black, $alpha: 0.05);
      font-size: 14px;
      font-weight: var(--font-weight-normal);
      margin-left: 16px;
      border-radius: 0 0 8px 8px;
      border: solid 1px var(--bg-additive-medium);
      border-top: none;
    }
  }

  .article .article-body .code-group {
    .code-group-tabs {
      display: flex;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 4px;
      overflow-y: visible;
      overflow-x: auto;

      // TODO make this a button for accessibility
      .code-block-title {
        margin-left: 0px;
        cursor: pointer;
        background-color: transparent;

        &.active {
          background-color: var(--bg-code-block-elevated-active);
          color: var(--text-body-heavy);
        }

        &:not(.active) {
          box-shadow: none;
          border: solid 1px transparent;
          border-top: none;

          &:hover {
            background-color: var(--bg-code-block-elevated-hover);
          }
        }
      }
    }
  }

  code {
    font-size: 16px;
  }

  // TODO I don't understand how this works to toggle dark mode
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  @media (prefers-color-scheme: dark) {
    code[data-theme*=" "],
    code[data-theme*=" "] span {
      color: var(--shiki-dark);
      background-color: var(--shiki-dark-bg);
    }
  }

  // inline code
  .article .article-body span[data-rehype-pretty-code-figure],
  :not(span[data-rehype-pretty-code-figure]) > code {
    padding: 2px 4px;
    background-color: var(--bg-code-inline);
    border-radius: 4px;
  }

  .katex-display {
    overflow-y: auto;
    color: var(--text-body-heavy);
  }

  button {
    background-color: var(--bg-additive-light);
    color: var(--text-body-heavy);
    border-radius: 8px;
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    border: none;
    outline: none;
    padding: 6px 12px;
    font-family: Inter Variable; // TODO move this to global selector
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
      background-color: var(--bg-additive-medium);
    }

    &:focus {
      outline: var(--bg-additive-medium) solid 2px;
    }
  }

  #go-to-top {
    padding: 4px 10px 4px 8px;
    gap: 4px;
    margin: 12px 0;
  }
</style>

<script>
  const observer = new IntersectionObserver(
    (entries) => {
      let currentId: string | null = null;
      for (const entry of entries) {
        const id = entry.target.getAttribute("id");
        if (entry.isIntersecting) {
          document
            .querySelector(`.right-sidebar .table-of-content a[href="#${id}"]`)
            ?.parentElement?.classList.add("active");
          currentId = id;
          break;
        }
      }
      if (currentId)
        document
          .querySelectorAll(".right-sidebar .table-of-content .active a")
          .forEach((entry) => {
            const id = entry.getAttribute("href");
            if (id !== "#" + currentId) {
              entry.parentElement?.classList.remove("active");
            }
          });
    },
    {
      rootMargin: "0px 0px -70% 0px",
      threshold: 1,
    }
  );

  // Track all sections that have an `id` applied
  document.querySelectorAll("h1[id],h2[id],h3[id]").forEach((section) => {
    observer.observe(section);
  });

  document.querySelector("#go-to-top")?.addEventListener("click", () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  });

  let scrollbarWidth = window.innerWidth - document.body.clientWidth + "px";
  document.body.style.setProperty("--scrollbar-width", scrollbarWidth);
</script>
