---
const heading = Astro.props.heading;
const fontSizeRem = 1; //- 0.1 * props.level;
const textStyles = heading.depth === 0 ? "text-gray-600" : "text-gray-400";
const listStyles = heading.depth === 0 ? "mt-1" : "mt-0 pl-3";
---

<ul class={listStyles}>
  <a
    href={`#${heading.slug}`}
    style={{ fontSize: `${fontSizeRem}em` }}
    class={`block py-0.5 ${textStyles} hover:text-green-500`}
  >
    {heading.text}
  </a>
  {
    heading.children.map((heading) => (
      <li>
        <HeadingElement heading={heading} level={Astro.props.level + 1} />
      </li>
    ))
  }
</ul>
